<body>
  <div class="container">
    <h1 class="text-center mt-4 mb-4">Data File</h1>
    <a href="/file/create" class="btn btn-sm btn-primary btn-add"
      >Tambah File</a
    >
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">File</th>
          <th scope="col">Nama File</th>
          <th scope="col">Kategori</th>
          <th scope="col">Pengguna</th>
          <th scope="col">Deskripsi</th>
          <th scope="col">Privasi</th>
          <th scope="col">Izin</th>
          <th scope="col">Hak Cipta</th>
          <th scope="col">Aksi</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i = 0; i < data.length; i++){ %>
        <tr>
          <th scope="row"><%= (i+1) %></th>
          <td><%= data[i].file_pdf %></td>
          <td><%= data[i].nama_file %></td>
          <td><%= data[i].nama_kategori %></td>
          <td><%= data[i].email %></td>
          <td><%= data[i].deskripsi %></td>
          <td><%= data[i].privasi %></td>
          <td><%= data[i].izin %></td>
          <td><%= data[i].hak_cipta %></td>
          <td>
            <% if (data.length >= 3) { %>
            <a
              href="/file/download/<%= data[i].id_file %>"
              class="btn btn-sm btn-primary btn-action"
              >Download</a
            >
            <% } else { %>
            <span class="text-muted">Minimal 3 file harus diunggah</span>
            <% } %>
            <a
              href="/file/edit/<%= data[i].id_file %>"
              class="btn btn-sm btn-warning btn-action"
              >Edit</a
            >
            <a
              href="/file/delete/<%= data[i].id_file %>"
              class="btn btn-sm btn-danger btn-action"
              >Delete</a
            >
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</body>
