<body>
  <div class="container">
    <h1 class="text-center mt-4 mb-4">Data Save</h1>
    <a href="/save/create" class="btn btn-sm btn-primary btn-add"
      >Tambah Save</a
    >
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">tanggal</th>
          <th scope="col">bulan</th>
          <th scope="col">Tahun</th>
          <th scope="col">Email</th>
          <th scope="col">Nama File</th>
          <th scope="col">Aksi</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i = 0; i < data.length; i++){ %>
        <tr>
          <th scope="row"><%= (i+1) %></th>
          <td><%= data[i].tanggal %></td>
          <td><%= new Intl.DateTimeFormat('id-ID', { month: 'long' }).format(new Date(data[i].tahun, data[i].bulan - 1, data[i].tanggal)) %></td>

          <td><%= data[i].tahun %></td>
          <td><%= data[i].email %></td>
          <td><%= data[i].nama_file %></td>
          <td>
            <a
              href="/kategori/edit/<%= data[i].id_kategori %>"
              class="btn btn-sm btn-warning btn-action"
              >Edit</a
            >
            <a
              href="/kategori/delete/<%= data[i].id_kategori %>"
              class="btn btn-sm btn-danger btn-action"
              >Delete</a
            >
          </td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</body>
