<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>UAS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <!-- Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/css/index.css" />
    <link rel="stylesheet" href="/stylesheets/css/font.css" />
    <link rel="stylesheet" href="/stylesheets/css/style.css" />
    <link rel="stylesheet" href="/stylesheets/css/components.css" />
    <link rel="stylesheet" href="/stylesheets/css/Landingpage.css" />
    <style>
      .modal {
        display: none;
        position: fixed;
        top: calc(0% + 180px);
        right: -100%;
        left: auto;
        transform: translateY(-50%);
        padding: 1em;
        width: 80%;
        max-width: 400px;
        border-radius: 0.5em 0 0 0.5em;
        transition: right 0.5s ease;
      }
      .modal.active {
        display: block;
        right: 0;
      }

      .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #dee2e6;
        padding-bottom: 0.5em;
      }
      .modal-header h5 {
        margin: 0;
      }
      .modal-body {
        margin-top: 1em;
      }
      .modal-body a {
        display: block;
        margin-bottom: 0.5em;
        color: #007bff;
        text-decoration: none;
      }
      .modal-body a:hover {
        text-decoration: underline;
      }
      .modal-close {
        cursor: pointer;
      }

      .modal-backdrop {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0);
      }

      .modal-backdrop.active {
        display: block;
      }

      .hamburger-menu {
        display: none;
        cursor: pointer;
      }

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
      }

      .header__logo {
        max-height: 50px;
      }

      .hamburger-menu {
        display: none;
        cursor: pointer;
      }

      @media (max-width: 768px) {
        .hamburger-menu {
          display: block;
        }

        .header__menu {
          display: none;
          flex-direction: column;
          align-items: flex-start;
          background-color: #fff;
          padding: 1em;
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          z-index: 9999;
        }

        .header__actions {
          display: none;
          flex-direction: column;
          align-items: flex-start;
          background-color: #fff;
          padding: 1em;
          position: absolute;
          top: 100%;
          right: 0;
          width: 100%;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          z-index: 9999;
        }

        .header__upload {
          display: block;
          margin-top: 1em;
        }

        .header__user-menu {
          display: block;
          margin-top: 1em;
        }

        .header__menu.show,
        .header__actions.show {
          display: flex;
        }
      }
    </style>
  </head>
  <body>
    <div class="landing-page">
      <header class="header">
        <a href="/users">
          <img
            src="/images/img_header_logo.png"
            alt="headerlogo"
            class="header__logo"
        /></a>
        <div class="hamburger-menu">
          <i class="bi bi-list" id="menuToggle"></i>
        </div>
        <ul class="header__menu">
          <li>
            <a href="#contacts"><p class="ui text size-s">Contact</p></a>
          </li>
          <li>
            <a href="#about"><p class="ui text size-s">About Us</p></a>
          </li>
          <li class="group">
            <div class="header__submenu">
              <p class="ui text size-s">Kategori</p>
              <i class="bi bi-chevron-down header__submenu-icon"></i>
            </div>
            <div class="group-1">
              <div class="menu-container">
                <div class="menu-group">
                  <% kategori.forEach((item) => { %>
                  <div class="menu">
                    <p class="mega-menu__title ui text">
                      <%= item.nama_kategori %>
                    </p>
                    <div class="menu-column"></div>
                  </div>
                  <% }); %>
                </div>
              </div>
            </div>
          </li>
          <li>
            <a href="/files"><p class="ui text size-s">Semua Dokumen</p></a>
          </li>
        </ul>
        <div class="header__actions">
          <div class="header__upload">
            <a href="/files/create" class="header__upload-link">
              <i class="bi bi-upload header__upload-icon"></i>
              <p class="header__upload-text ui text size-s">Unggah</p>
            </a>
          </div>
          <ul class="header__user-menu">
            <li>
              <a href="#" id="emailLink"
                ><p class="header__user-menu-item ui text size-xs">
                  <%= email %>
                </p></a
              >
            </li>
          </ul>
        </div>
      </header>

      <div class="container">
        <div class="content container-sm">
          <div class="content__welcome">
            <p class="content__title ui text size-xl">Selamat Datang</p>
            <p class="content__subtitle ui text size-lg">
              Jelajahi lebih dari 170 juta dokumen dari komunitas global,
              bagikan informasi, dan temukan inspirasi
            </p>
          </div>
          <label class="content__search">
            <img src="/images/img_rewind.svg" alt="rewind" class="rewind" />
            <input name="search" placeholder="Search..." type="text" />
          </label>

          
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Nama File</th>
                <th>Total Download</th>
              </tr>
            </thead>
            <tbody>
              <% if (popularFiles && popularFiles.length > 0) { %> <%
              popularFiles.forEach(record => { %>
              <tr>
                <td><%= record.nama_file %></td>
                <td><%= record.total_download %></td>
              </tr>
              <% }) %> <% } else { %>
              <tr>
                <td colspan="2">
                  Tidak ada data file yang populer untuk ditampilkan.
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>

          <!-- <div class="content__features">
            <div class="content__feature-item"></div>
            <div class="content__feature-item"></div>
            <div class="content__feature-item"></div>
            <div class="content__feature-item"></div>
            <div class="content__feature-item"></div>
            <div class="content__feature-item"></div>
            <div class="content__feature-item"></div>
            <div class="content__feature-item"></div>
          </div> -->

          <div id="about" class="content__section">
            <h1 class="content__title ui heading size-md">
              Lorem ipsum dolor sit amet consectetur
            </h1>
          </div>

          <p class="content__description ui text size-md">
            <span class="content__description-span">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem,
              tenetur praesentium. Dolorum accusamus rerum culpa quidem natus
              illo modi amet. Quaerat aperiam labore earum iste odit suscipit,
              molestias nobis quas deleniti, atque ullam, eos veritatis in
              magni. Dolorum ullam, quaerat facere, qui quod inventore cum
              suscipit eos magni voluptas obcaecati officiis saepe quam quos
              illo molestias. Accusantium illo amet consectetur dolor
              perferendis ipsum repellat rerum molestias consequatur deserunt
              voluptas ipsa veniam veritatis, vitae dicta sequi exercitationem.
              Beatae perspiciatis deserunt fugit quo suscipit, officia, sint
              neque ad vero aliquam soluta velit quas provident mollitia esse
              recusandae, temporibus alias magni doloremque debitis?</span
            >
            <a href="#" class="content__description-span-1"
              >Pertanyaan Umum tentang Hak Cipta.</a
            >
          </p>
        </div>
      </div>

      <div class="landing-page-footer">
        <div class="footer__column">
          <div class="footer__column--info">
            <img
              src="/images/img_footer_logo.png"
              alt="footerlogo"
              class="header__logo"
            />
            <p class="footer__description">
              High level experience in web design and development knowledge,
              producing quality work.
            </p>
            <button
              id="contacts"
              class="flex-row-center-center footer__contact-button"
            >
              Contact Us
            </button>
            <div class="footer__social-row">
              <button class="footer__icon-button--facebook">
                <img
                  src="/images/img_facebook.svg"
                  alt="facebook"
                  class="footer__icon-button--facebook"
                />
              </button>
              <button class="footer__icon-button--facebook">
                <img
                  src="/images/img_light_bulb.svg"
                  alt="lightbulb"
                  class="footer__icon-button--facebook"
                />
              </button>
              <button class="footer __icon-button--facebook">
                <img
                  src="/images/img_settings.svg"
                  alt="settings"
                  class="footer__icon-button--facebook"
                />
              </button>
              <img
                src="/images/img_social.svg"
                alt="social"
                class="footer__social-image"
              />
              <button class="footer__icon-button--info">
                <img
                  src="/images/img_info.svg"
                  alt="info"
                  class="footer__icon-button--info"
                />
              </button>
              <img
                src="/images/img_social_white_a700.svg"
                alt="social"
                class="footer__social-image"
              />
            </div>
          </div>
          <div class="footer__row">
            <div class="footer__row--rights">
              <div class="footer__column--navigation">
                <div class="footer__copyright-row">
                  <p class="footer__copyright-text mt-5">
                    © 2021 All Rights Reserved
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal -->
      <div
        id="emailModalBackdrop"
        class="modal-backdrop"
        onclick="closeModal()"
      ></div>
      <div id="emailModal" class="modal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Hai <%= email %>!</h5>
              <button
                type="button"
                class="btn-close"
                aria-label="Close"
                onclick="toggleModal()"
              ></button>
            </div>
            <div class="modal-body">
              <a href="/profile"><i class="bi bi-person"></i> Profile</a>
              <a href="/save"><i class="bi bi-heart"></i> Disimpan</a>
              <a href="/file"
                ><i class="bi bi-file-earmark-text"></i> Unggahan Dokumen</a
              >
              <a href="/logout"><i class="bi bi-box-arrow-right"></i> Logout</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      // function toggleRekomendasiModal() {
      //   var modal = document.getElementById("rekomendasiModal");
      //   if (modal) {
      //     // Tambahkan pengecekan ini
      //     modal.classList.toggle("show");
      //   } else {
      //     console.error("Elemen dengan id 'rekomendasiModal' tidak ditemukan.");
      //   }
      // }

      // Tampilkan modal saat halaman dimuat
      document.addEventListener("DOMContentLoaded", function () {
        toggleRekomendasiModal();
      });
      function toggleModal() {
        var modal = document.getElementById("emailModal");
        var backdrop = document.getElementById("emailModalBackdrop");
        modal.classList.toggle("active");
        backdrop.classList.toggle("active");
      }

      document
        .getElementById("emailLink")
        .addEventListener("click", function (event) {
          event.preventDefault();
          toggleModal();
        });

      function closeModal() {
        var modal = document.getElementById("emailModal");
        var backdrop = document.getElementById("emailModalBackdrop");
        modal.classList.remove("active");
        backdrop.classList.remove("active");
      }

      document
        .getElementById("emailModalBackdrop")
        .addEventListener("click", function () {
          closeModal();
        });

      window.addEventListener("scroll", function () {
        closeModal();
      });

      document
        .getElementById("menuToggle")
        .addEventListener("click", function () {
          document.querySelector(".header__menu").classList.toggle("show");
          document.querySelector(".header__actions").classList.toggle("show");
        });
    </script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const totalDownloads = JSON.parse(
          `<%- JSON.stringify(totalDownloads).replace(/</g, '\\u003c') %>`
        );
        const popularFiles = JSON.parse(
          `<%- JSON.stringify(popularFiles).replace(/</g, '\\u003c') %>`
        );

        console.log("Total download di Client:", totalDownloads);
        console.log("Popular Files di Client:", popularFiles); // Log data di klien
      });
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
