<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>UAS</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <!-- Bootstrap Icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/css/index.css" />
    <link rel="stylesheet" href="/stylesheets/css/font.css" />
    <link rel="stylesheet" href="/stylesheets/css/style.css" />
    <link rel="stylesheet" href="/stylesheets/css/components.css" />
    <link rel="stylesheet" href="/stylesheets/css/Landingpage.css" />
    <link rel="stylesheet" href="/stylesheets/css/card.css" />
    <style>
      .modal {
        display: none;
        position: fixed;
        top: calc(0% + 180px);
        right: -100%;
        left: auto;
        transform: translateY(-50%);
        padding: 1em;
        width: 80%;
        max-width: 400px;
        border-radius: 0.5em 0 0 0.5em;
        transition: right 0.5s ease;
      }
      .modal.active {
        display: block;
        right: 0;
      }

      .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #dee2e6;
        padding-bottom: 0.5em;
      }
      .modal-header h5 {
        margin: 0;
      }
      .modal-body {
        margin-top: 1em;
      }
      .modal-body a {
        display: block;
        margin-bottom: 0.5em;
        color: #007bff;
        text-decoration: none;
      }
      .modal-body a:hover {
        text-decoration: underline;
      }
      .modal-close {
        cursor: pointer;
      }

      .modal-backdrop {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0);
      }

      .modal-backdrop.active {
        display: block;
      }

      .hamburger-menu {
        display: none;
        cursor: pointer;
      }

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1em;
      }

      .header__logo {
        max-height: 50px;
      }

      .hamburger-menu {
        display: none;
        cursor: pointer;
      }

      @media (max-width: 768px) {
        .hamburger-menu {
          display: block;
        }

        .header__menu {
          display: none;
          flex-direction: column;
          align-items: flex-start;
          background-color: #fff;
          padding: 1em;
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          z-index: 9999;
        }

        .header__actions {
          display: none;
          flex-direction: column;
          align-items: flex-start;
          background-color: #fff;
          padding: 1em;
          position: absolute;
          top: 100%;
          right: 0;
          width: 100%;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          z-index: 9999;
        }

        .header__upload {
          display: block;
          margin-top: 1em;
        }

        .header__user-menu {
          display: block;
          margin-top: 1em;
        }

        .header__menu.show,
        .header__actions.show {
          display: flex;
        }
      }
      * {
        margin: 0;
      }
      /* Tata letak utama */
      .upload-section {
        padding-left: 163px;
        padding-right: 156px;
      }

      /* Responsif untuk layar berukuran kecil */
      @media only screen and (max-width: 1050px) {
        .upload-section {
          padding-left: var(--space-5xl);
          padding-right: var(--space-5xl);
          padding: var(--space-5xl);
        }
      }

      /* Container untuk drop area */
      .upload-section__drag-drop-container {
        border: 2px dashed #ccc;
        padding: 20px;
        text-align: center;
      }

      .upload-section__drag-drop-container.dragging {
        background-color: #f0f0f0;
      }

      /* Container untuk file previews */
      .file-previews-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        width: 100%; /* Membuat lebar 100% */
      }

      /* Kartu untuk file preview */
      .file-preview {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 300px; /* Sesuaikan lebar card sesuai kebutuhan Anda */
        text-align: center;
        background-color: #f9f9f9;
      }

      /* Gambar dalam file preview */
      .file-preview img {
        max-width: 100%;
        height: auto;
        margin-bottom: 10px;
      }

      /* Input, select, dan textarea dalam file preview */
      .file-preview input,
      .file-preview select,
      .file-preview textarea {
        width: 100%;
        margin-bottom: 10px;
        padding: 5px;
      }

      /* Tombol unggah */
      #upload-button {
        display: none; /* Sembunyikan tombol unggah awal */
        margin: 20px 0;
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }

      #upload-button:hover {
        background-color: #0056b3;
      }

      /* CSS tambahan untuk tampilan di atas upload section */
      .upload-preview-container {
        margin-bottom: 20px;
      }

      /* Kartu untuk upload preview */
      .upload-preview {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
      }

      /* Gambar dalam upload preview */
      .upload-preview img {
        max-width: 80px;
        height: auto;
        margin-right: 10px;
      }

      /* Informasi dalam upload preview */
      .upload-preview-info {
        flex: 1;
      }

      .upload-preview-info p {
        margin-bottom: 5px;
      }

      .upload-preview-info input,
      .upload-preview-info select,
      .upload-preview-info textarea {
        min-width: 500px;
        padding: 5px;
        margin-bottom: 5px;
      }

      .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .header__menu-container {
        display: flex;
        align-items: center;
      }

      .header__menu {
        /* Gaya menu */
      }

      .header__actions {
        display: flex;
        align-items: center;
      }

      .centered-title {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 10vh; /* Adjust the height as needed */
      }
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: #f8f9fa;
      }
      .card {
        width: 80%;
        max-width: 800px;
      }
      .left-col {
        position: relative;
        padding: 20px;
        border: 2px dashed #6c757d;
        text-align: center;
        cursor: pointer;
        height: 100%; /* Consistent height with card */
      }
      .left-col img {
        width: 200px; /* Larger icon */
        height: 120px;
        margin-bottom: 10px;
        margin-top: 90px;
      }
      .left-col input[type="file"] {
        display: none;
      }
      .left-col label {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        cursor: pointer;
      }
      .left-col label svg {
        width: 50px;
        height: 50px;
        fill: #6c757d;
      }
      .upload-section__drag-drop-text {
        margin-bottom: 10px;
      }
      .upload-section__supported-formats {
        text-align: center;
        margin-top: 10px;
      }
      .upload-section__formats-list {
        font-size: 12px;
        color: #6c757d;
      }
      .upload-section__drag-drop-text-span-2 {
        color: #007bff; /* Blue color for "Browse" link */
        cursor: pointer;
      }
      .selected-file {
        margin-top: 10px;
        font-size: 14px;
      }
      .uploaded-pdf {
        max-width: 100%;
        height: auto;
        display: block;
        margin-top: 10px;
        border: 1px solid #ccc;
        padding: 10px;
      }
      * Additional styles for reset button */ .btn-reset {
        margin-left: 10px;
        background-color: #dc3545;
        border-color: #dc3545;
        color: white;
      }

      .btn-reset:hover {
        background-color: #c82333;
        border-color: #bd2130;
      }
    </style>
  </head>
  <body>
    <div class="landing-page">
      <header class="header">
        <a href="/users">
          <img
            src="/images/img_header_logo.png"
            alt="headerlogo"
            class="header__logo"
        /></a>
        <div class="hamburger-menu">
          <i class="bi bi-list" id="menuToggle"></i>
        </div>
        <ul class="header__menu">
          <li>
            <a href="/users"><p class="ui text size-s">Beranda</p></a>
          </li>
          <!-- <li class="group">
            <div class="header__submenu">
              <p class="ui text size-s">Kategori</p>
              <i class="bi bi-chevron-down header__submenu-icon"></i>
            </div>
            <div class="group-1">
              <div class="menu-container">
                <div class="menu-group">
                  <% kategori.forEach((item) => { %>
                  <div class="menu">
                    <p class="mega-menu__title ui text">
                      <%= item.nama_kategori %>
                    </p>
                    <div class="menu-column"></div>
                  </div>
                  <% }); %>
                </div>
              </div>
            </div>
          </li> -->
          <li>
            <a href="/files"><p class="ui text size-s">Semua Dokumen</p></a>
          </li>
        </ul>
        <div class="header__actions">
          <div class="header__upload">
            <a href="/files/create" class="header__upload-link">
              <i class="bi bi-upload header__upload-icon"></i>
              <p class="header__upload-text ui text size-s">Unggah</p>
            </a>
          </div>
          <ul class="header__user-menu">
            <li>
              <a href="" id="emailLink"
                ><p class="header__user-menu-item ui text size-xs">
                  <%= username%>
                </p></a
              >
            </li>
          </ul>
        </div>
      </header>
      <% if (errorMessages.length > 0) { %>
      <div
        class="alert alert-danger alert-small text-center"
        role="alert"
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          max-width: 600px;
          margin: 0 auto;
          margin-top: 15px;
        "
      >
        <% errorMessages.forEach(message => { %>
        <p><%= message %></p>
        <% }) %>
      </div>
      <% } %> <% if (successMessages.length > 0) { %>
      <div class="alert alert-success">
        <% successMessages.forEach(message => { %>
        <p><%= message %></p>
        <% }) %>
      </div>
      <% } %>
      <div class="centered-title">
        <h1 class="mt-5 upload-section__title ui heading size-s">
          Upload File
        </h1>
      </div>

      <div class="upload-section mb-5">
        <div class="card custom-card">
          <form
            method="POST"
            action="/files/store"
            class="card-body"
            enctype="multipart/form-data"
            onsubmit="return validateForm()"
          >
            <!-- <div class="row"> -->
            <!-- Add this canvas element somewhere in your HTML -->
            <!-- <canvas id="pdf-canvas"></canvas> -->
            <!-- </div> -->
            <div class="row">
              <div class="col-md-6 d-flex align-items-stretch">
                <div class="left-col w-100">
                  <img
                    src="/images/img_upload_icon.svg"
                    alt="uploadicon"
                    class="upload-section__icon"
                  />
                  <label for="file-input">
                    <div class="upload-section__drag-drop-instructions">
                      <h2 class="upload-section__drag-drop-text ui heading">
                        <span class="upload-section__drag-drop-text-span"
                          >Drag & drop files or</span
                        >
                        <span class="upload-section__drag-drop-text-span-1"
                          >&nbsp;</span
                        >
                        <span
                          class="upload-section__drag-drop-text-span-2"
                          id="browse-link"
                          >Browse</span
                        >
                      </h2>
                      <div class="upload-section__supported-formats">
                        <p class="upload-section__formats-list ui text size-xs">
                          Supported formats: JPEG, PNG, GIF, MP4, PDF, PSD, AI,
                          Word, PPT
                        </p>
                      </div>
                    </div>
                    <input
                      type="file"
                      id="file-input"
                      name="file_pdf"
                      multiple
                      style="display: none"
                    />
                  </label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="mb-3">
                  <label for="nama_file" class="form-label">Nama File</label>
                  <input
                    id="nama_file"
                    class="form-control"
                    type="text"
                    name="nama_file"
                    placeholder="Nama File"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="id_kategori" class="form-label">Kategori</label>
                  <select
                    id="id_kategori"
                    class="form-select"
                    name="id_kategori"
                    required
                  >
                    <!-- Populate options dynamically -->
                    <% for(var i = 0; i < kategori.length; i++){ %>
                    <option value="<%= kategori[i].id_kategori %>">
                      <%= kategori[i].nama_kategori %>
                    </option>
                    <% } %>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="deskripsi" class="form-label">Deskripsi</label>
                  <input
                    id="deskripsi"
                    class="form-control"
                    type="text"
                    name="deskripsi"
                    placeholder="Deskripsi"
                  />
                </div>
                <div class="mb-3">
                  <label for="privasi" class="form-label">Privasi</label>
                  <select
                    id="privasi"
                    class="form-select"
                    name="privasi"
                    required
                  >
                    <option value="public">Public</option>
                    <option value="private">Private</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="izin" class="form-label">Izin</label>
                  <select id="izin" class="form-select" name="izin" required>
                    <option value="Salin dan rekatkan teks">
                      Salin dan rekatkan teks
                    </option>
                    <option value="Unduh dokumen">Unduh dokumen</option>
                  </select>
                </div>
                <div class="mb-3">
                  <label for="hak_cipta" class="form-label">Hak Cipta</label>
                  <select
                    id="hak_cipta"
                    class="form-select"
                    name="hak_cipta"
                    required
                  >
                    <option value="All Rights Reserved">
                      All Rights Reserved
                    </option>
                    <option value="Public Domain">Public Domain</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center mt-4">
              <button type="reset" class="btn btn-reset mr-2">Reset</button>
              <button type="submit" class="btn btn-primary ml-4">Submit</button>
            </div>
          </form>
        </div>
      </div>
      <!-- footer section -->
      <div class="landing-page-footer">
        <div class="footer__column">
          <div class="footer__column--info">
            <img
              src="/images/img_footer_logo.png"
              alt="footerlogo"
              class="header__logo"
            />
          </div>
          <div class="footer__row">
            <div class="footer__row--rights">
              <div class="footer__column--navigation">
                <div class="footer__copyright-row">
                  <p class="footer__copyright-text mt-5">
                    © 2021 All Rights Reserved
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal -->
      <div
        id="emailModalBackdrop"
        class="modal-backdrop"
        onclick="closeModal()"
      ></div>
      <div id="emailModal" class="modal">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Hai <%= username %>!</h5>
              <button
                type="button"
                class="btn-close"
                aria-label="Close"
                onclick="toggleModal()"
              ></button>
            </div>
            <div class="modal-body">
              <a href="/save"><i class="bi bi-heart"></i> Disimpan</a>
              <a href="/file"
                ><i class="bi bi-file-earmark-text"></i> Unggahan Dokumen</a
              >
              <a href="/logout"><i class="bi bi-box-arrow-right"></i> Logout</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      function toggleModal() {
        var modal = document.getElementById("emailModal");
        var backdrop = document.getElementById("emailModalBackdrop");
        modal.classList.toggle("active");
        backdrop.classList.toggle("active");
      }

      document
        .getElementById("emailLink")
        .addEventListener("click", function (event) {
          event.preventDefault();
          toggleModal();
        });

      function closeModal() {
        var modal = document.getElementById("emailModal");
        var backdrop = document.getElementById("emailModalBackdrop");
        modal.classList.remove("active");
        backdrop.classList.remove("active");
      }

      document
        .getElementById("emailModalBackdrop")
        .addEventListener("click", function () {
          closeModal();
        });

      window.addEventListener("scroll", function () {
        closeModal();
      });

      document
        .getElementById("menuToggle")
        .addEventListener("click", function () {
          document.querySelector(".header__menu").classList.toggle("show");
          document.querySelector(".header__actions").classList.toggle("show");
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.9.359/pdf.min.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const dropContainer = document.getElementById("drop-container");
        const fileInput = document.getElementById("file-input");
        const browseLink = document.getElementById("browse-link");
        const filePreviewsContainer = document.getElementById(
          "file-previews-container"
        );
        const uploadButton = document.getElementById("upload-button");

        browseLink.addEventListener("click", function (event) {
          event.preventDefault();
          fileInput.click();
        });

        fileInput.addEventListener("change", function (event) {
          const files = event.target.files;
          console.log(files);
          handleFiles(files);
        });

        function handleFiles(files) {
          filePreviewsContainer.innerHTML = ""; // Clear previous file previews
          for (let i = 0; i < files.length; i++) {
            const file = files[i];
            const filePreview = document.createElement("div");
            filePreview.classList.add("file-preview");

            const fileName = document.createElement("p");
            fileName.textContent = file.name;
            filePreview.appendChild(fileName);

            filePreview.dataset.index = i;

            const deleteButton = document.createElement("button");
            deleteButton.textContent = "Hapus";
            deleteButton.classList.add("delete-button");
            deleteButton.addEventListener("click", function () {
              const index = filePreview.dataset.index;
              deleteFile(index);
              checkRemainingFiles();
            });

            filePreview.appendChild(deleteButton);

            filePreviewsContainer.appendChild(filePreview);

            if (file.type === "application/pdf") {
              showPDF(file);
            }
          }

          uploadButton.style.display = "block";
        }

        function deleteFile(index) {
          const previewElement = document.querySelector(
            `[data-index="${index}"]`
          );
          previewElement.remove();
        }

        function checkRemainingFiles() {
          const remainingFiles = document.querySelectorAll(".file-preview");
          if (remainingFiles.length === 0) {
            uploadButton.style.display = "none";
          }
        }

        function showPDF(file) {
          const fileReader = new FileReader();

          fileReader.onload = function () {
            const typedArray = new Uint8Array(this.result);

            pdfjsLib.getDocument(typedArray).promise.then(function (pdf) {
              pdf.getPage(1).then(function (page) {
                const viewport = page.getViewport({ scale: 1.5 });
                const canvas = document.getElementById("pdf-canvas");
                const context = canvas.getContext("2d");

                canvas.width = viewport.width;
                canvas.height = viewport.height;

                const renderContext = {
                  canvasContext: context,
                  viewport: viewport,
                };
                page.render(renderContext);
              });
            });
          };

          fileReader.readAsArrayBuffer(file);
        }
      });
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz4fnFO9gybBogGzWk5l8v3IM7ub1K/1wBLYaWNEEdA6v0kUr6FMJf8K3u"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12W9+1B07r/3u6k+q6u9fK/FpVVYK4kExBsn9U2s9BfnG6sk"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
